%SideBer
  %SideBer__top
    %SideBer__h3 seo
    %SideBer__box font-awsome
  %SideBar__bottom
    %SideBer__h4 sample
    %SideBer__p good bye world!
%chat
  %Chat__top1
    %Chat__h2 sample
    %Chat__p Members seo neko
  %Chat__top2
    %Chat__h3 seo
    %Chat__p Hello World!
  %Chat__bottom
    %Chat__h3 neko
    %Chat__p Hello!



