.contents
  .SideBer
    =render "messages/sidebar.top"
    =render "messages/sidebar.bottom"
  .Chat
    =render "messages/chat.header"
    =render "messages/chat.contents"
    =render "messages/chat.footer"


