.contents
  .SideBer
    =render "messages/sidebar.top"
    =render "messages/sidebar.bottom"
  .Chat
    =render "messages/chat.header"
    .messages
      =render @messages
    =render "messages/chat.footer"

