.contents {
  .SideBer {
    float: left;
    width: 300px;
    background-color: #2f3e51;
    height: 100vh;
    .SideBer__top {
      background-color: #000022;
      height: 15%;
       .SideBer__name {
        float: left;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        margin: 20px 0 0 30px;
      }
       .icon{
        float: right;
        margin: 35px 20px 0 0;
        color: white;
       }
    }
    .SideBer__bottom {
      background-color: #2f3e51;
      height: 85%;
      .groups {
        .group {
          .group__name {
            font-size: 16px;
            color: white;
            margin-left: 20px;
          }
          .group__message {
            font-size: 16px;
            color: white;
            margin-left: 20px;
          }
        }
      }
    }
  }

  .Chat {
    width: calc(100vw - 300px);
    float: left;
    height: 100vh;
    .Chat__header{
      height: 15%;
      border-bottom: solid #EEE thin;
      .Chat__button{
        color: #38AEF0;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid #38AEF0;
        float: right;
      }
      .group__name {
        color: #333;
        font-size: 20px;
        margin: 35px 0 15px 40px;
        float: left;
      }
      p {
        color: #999;
        font-size: 12px;
        margin: 0 40px;
        clear: both;
      }
    }
    .messages{
      height:  calc( 100vh - 15% - 90px );
      overflow-y: scroll;
      .message {
        padding-top: 26px;
        padding-left: 40px;
        .user__name {
          color: #434A54;
          font-size: 16px;
          font-weight: bold;
          float: left;
        }
        .message__time {
          color: #999;
          font-size: 12px;
          padding: 0 10px 10px;
          float: left;
        }
        .message__content {
          color: #434A54;
          clear: both;
        }
      }
    }
    .Chat__footer{
      height: 90px;
      background-color:#CCC;
      .Chat__message {
        height: 45px;
        width: 770px;
        float: left;
        margin: 20px 0 0 40px;
        padding: 10px 0 0 10px;
        font-size: 16px;
        color: #434A54;
        background-color: white;
      }
      .form__mask{
        height: 37px;
        width: 120px;
        padding: 10px;
        margin-top: 21px;
        float: left;
        background-color: white;
        .icon {
          height: 35px;
          float: left;
          margin: 21px 0 0 0;
        }
        .hidden{
          height: 22px;
          width: 100px;
          margin-top: 15px;
          float: left;
        }
      }
      .Chat__send{
          height: 20px;
          width: 110px;
          float: right;
          background-color: #5FF;
          color: #FFFFFF;
          margin: 20px 40px 20px 0;
          padding: 15px 20px 42px 20px;
          text-align: center;
      }
    }
  }
}






